/frontend/node_modules
/frontend/.next

/backend/.cartesi
/backend/dist
/backend/node_modules

/on-chain-verification/.env
/on-chain-verification/node_modules
/on-chain-verification/artifacts
/on-chain-verification/cache
/server/node_modules

*.env